!!!
%html{:lang => "en"}
  %head
    %meta{:"http-equiv" => "refresh", :content => 60}/
    %meta{:charset => "utf-8"}/
    %title Sensu Dashboard
    %meta{:content => "Sensu Dashboard", :name => "description"}/
    %meta{:content => "Johan van den Dorpe", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:rel => "stylesheet", :href => "/css/style.css"}/
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}/
    %link{:rel => "stylesheet", :href => "/css/dataTables-bootstrap.css"}/
    %link{:rel => "stylesheet", :href => "/css/font-awesome.min.css"}/
    %script{:src => "/js/jquery.js"}
    %script{:src => "/js/jquery.tablesorter.min.js"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav
      %div.container
        %div.navbar-header
          %a.navbar-brand{:href => "/"} Sensu Dashboard
        %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
          %ul.nav.navbar-nav
            %li
              %a{:href => "/"} 
                %i.icon-th-large
                Dashboard
            %li
              %a{:href => "/new"}
                %i.icon-pencil
                Configuration
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Servers
                %b.caret
              %ul.dropdown-menu
                - @servers.each do |item|
                  %li
                    %a{:href => "/server/#{item.id}"}
                      #{item.name}
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Services
                %b.caret
              %ul.dropdown-menu
                - @services.each do |item|
                  %li
                    %a{:href => "/service/#{item.id}"}
                      #{item.name}
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Views
                %b.caret
              %ul.dropdown-menu
                - @views.each do |item|
                  %li
                    %a{:href => "/views/#{item.name}"}
                      #{item.name}
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Checks 
                %b.caret
              %ul.dropdown-menu
                - @servers.each do |item|
                  %li
                    %a{:href => "/server/#{item.id}/checks"}
                      #{item.name}
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :'data-toggle' => "dropdown"}
                Clients
                %b.caret
              %ul.dropdown-menu
                - @servers.each do |item|
                  %li
                    %a{:href => "/server/#{item.id}/clients"}
                      #{item.name}
    .container
      .col-lg-2.col-md-2
      .col-lg-8.col-md-8
        .alert.alert-danger#server-status{:style => "margin-top: 10px;"}
          %h4#server-status-message
      %p= yield
      .row
        =haml :dashboard
    %hr/
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/jquery.dataTables.min.js"}
    %script{:src => "/js/datatables.bootstrap.js"}
    %script{:src => "/js/custom.js"}
