.row
  - @servicedata.each_pair do |service, data|
    - urlstub = "/service/#{params[:service]}"
    .col-lg-4.col-md-4
      %div.panel.panel-default
        %div.panel-heading
          %h3.panel-title 
            %a{:href => urlstub}
              %i.icon-tasks
            #{service}
        %div.panel-body.text-center
          %a.btn.btn-danger{:href => "#{urlstub}/events"}
            %span.bigger-150 #{data[:numcritical]} 
            %br Critical
          %a.btn.btn-warning{:href => "#{urlstub}/events"}
            %span.bigger-150 #{data[:numwarning]} 
            %br Warning
          %a.btn.btn-info{:href => "#{urlstub}/events"}
            %span.bigger-150 #{data[:numunknown]} 
            %br Unknown
