.row
  .col-lg-2.col-md-6
  - @sites.each_pair do |site, sitedata|
    - sitedata.each do |type, typedata|
      .col-lg-4.col-md-6
        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title 
              %a{:href => "/#{site}/#{type}"} 
                %i.icon-tasks
              #{site.capitalize} #{type.capitalize}
          %div.panel-body.text-center
            %a.btn.btn-danger{:href => "/#{site}/#{type}/critical"}
              %span.bigger-150 #{@sites[site][type][:numcritical]} 
              %br Critical
            %a.btn.btn-warning{:href => "/#{site}/#{type}/warning"}
              %span.bigger-150 #{@sites[site][type][:numwarning]} 
              %br Warning
            %a.btn.btn-info{:href => "/#{site}/#{type}/unknown"}
              %span.bigger-150 #{@sites[site][type][:numunknown]} 
              %br Unknown
